@import '~styles/theme';

.container {
  background-image: linear-gradient(to bottom right, $border, $veryLight);
  height: 100vh;
  width: 100vw;
}

.gameBoard {
  display: grid;
  grid-template-rows: 20% 25% 25% 30%;
  overflow: hidden;
}

.opponentSide {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: 'left keys right' 'left hand right';
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 3fr;
}

.side {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: 'left keys right' 'left hand right' 'left hand actions';
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr 54px;
}

.leftSide {
  grid-area: left;
}

.hand {
  grid-area: hand;
}

.rightSide {
  grid-area: right;
}

.header {
  text-align: center;
}

.actionBtn {
  margin: 0;
}
