@import '~styles/theme';

.row {
  &--horizontal {
    height: 100%;
    align-items: flex-end;
  }

  &--opponent {
    align-items: flex-start;
  }
}

.pileTitle {
  color: $medium;
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.pileSize {
  color: $medium;
  font-size: 1.2rem;
  font-weight: 100;
}

.staticPile {
  background: radial-gradient(ellipse at center, white 30%, $shadow 100%);
  border-radius: 4px;
  cursor: pointer;
}

.drawPile {
  background-color: black;
}

.discardPile {
  background-color: green;
}
