.row {
  &--horizontal {
    height: 100%;
    align-items: flex-end;
  }

  &--opponent {
    align-items: flex-start;
  }
}

.purgePile {
  background-color: red;
}

.archivePile {
  background-color: blue;
}

.drawPile {
  background-color: black;
}

.discardPile {
  background-color: green;
}
