@import '~styles/theme';

.emptyH1 {
  font-weight: normal;
  margin: 0;
}

.emptyH3 {
  color: $medium;
  font-weight: normal;
  margin: 0.5rem 0 1.5rem;
}

.container {
  display: grid;
  grid-template-rows: 65px auto;
  z-index: 100;
}

.header {
  border-bottom: 1px solid $border;
  padding: 0 1rem;
}

.content {
  overflow-y: auto;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.3rem 0rem 0rem;
}

.houses {
  margin: 1rem;
}

.house {
  max-width: 15rem;
  padding: 0 1rem;
  width: 33%;
}

$img-size: 100px;
.houseImg {
  height: $img-size;
  width: $img-size;
}

.cards {
  margin: 0 auto;
}

.card {
  font-size: 0.95rem;
  padding-bottom: 0.3rem;
  width: fit-content;
}

$icon-size: 18px;
.rarity {
  fill: $dark;
  height: $icon-size;
  margin-right: 0.5rem;
  width: $icon-size;
}

.maverick {
  fill: $dark;
  height: $icon-size;
  margin-left: 0.5rem;
  width: $icon-size;
}

.cardNum {
  font-weight: bold;
  margin-right: 0.5rem;
}
