@import '~styles/theme';

.battleline {
  position: relative;

  &:hover {
    z-index: 100;
  }
}

.inner {
  pointer-events: none;
}

.imgContainer {
  max-height: 100%;
  text-align: center;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.card {
  max-height: 100%;
  max-width: 100%;
  pointer-events: all;
}

.drop {
  bottom: 0;
  position: absolute;
  top: 0;

  &--left {
    left: 0;
    right: 50%;
  }

  &--right {
    left: 50%;
    right: 0;
  }
}
