.imgContainer {
  padding-right: 1rem;
  max-height: 100%;
  text-align: center;

  &:last-of-type {
    padding-right: 0;
  }
}

.card {
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
  transition-delay: 0s;

  &:hover {
    transition-delay: 0.2s;
  }
}
