.relativeContainer {
  position: relative;
}

.card {
  padding-bottom: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 130px;
  transition: transform 0.2s ease-in-out;
  z-index: 0;

  &--hovered {
    z-index: 1;
  }
}
