@import '~styles/theme';

.relativeContainer {
  position: relative;
  user-select: none;
  z-index: 2;
}

.card {
  border-radius: 8px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  width: 130px;
  z-index: 0;

  &--hovered {
    z-index: 1;
  }
}
