@import '~styles/theme';

.row {
  border-bottom: 1px solid $border;
  height: 40px;
  padding: 0.7rem 1rem;
}

$status-size: 15px;
.status {
  background-color: $light;
  border-radius: $status-size / 2;
  height: $status-size;
  margin-right: 1rem;
  width: $status-size;

  &--online {
    background-color: $active;
  }
}

.tag {
  color: $medium;
  font-size: 0.9rem;
  margin-left: 0.1rem;
}

.lastOnline {
  color: $medium;
  font-size: 0.9rem;
}

.actionBtn {
  margin: 0;

  &:disabled {
    pointer-events: none;
  }

  &:last-of-type {
    margin-left: 0.5rem;
  }
}
