@import '~styles/theme';

$keySize: 45px;
.key,
.house {
  height: $keySize;
  margin-right: 8px;
  width: $keySize;

  &:last-of-type {
    margin-right: 0;
  }
}

.house {
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: 0px 0px 15px 0px $medium;
  }
}

.left,
.right {
  color: $medium;
  flex: 1;
  margin: 0 0.2rem;
  text-align: center;
}

.aember {
  color: $medium;

  &--check {
    color: $active;
  }
}

.secondRow {
  margin-top: 0.5rem;
}

$iconSize: 15px;
.turnIcon {
  fill: $light;
  height: $iconSize;
  margin-right: 0.5rem;
  transition: fill 0.2s linear;
  width: $iconSize;

  &--active {
    fill: $medium;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.turnText {
  color: $medium;
  font-size: 0.8rem;
  text-align: center;
}

.actionBtn {
  margin: 0 auto;
}

.chosenHouse {
  color: $medium;
}

.houseName {
  color: $active;
  margin-left: 0.3rem;
}
