@import '~styles/theme';

.container {
  height: 100%;
}

.placeholder {
  flex: 1;
}

.construction {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 2rem;

  svg {
    margin-right: 1rem;
  }
}

.text {
  line-height: 1.5rem;
  margin: 1rem auto 0;
  max-width: 35rem;
  width: 100%;
}

.question {
  font-weight: bold;
  margin: 2rem auto 0;
  max-width: 35rem;
  width: 100%;
}

.link {
  font-weight: bold;
}

.footer {
  border-top: 1px solid $border;
  margin-top: 2rem;
  padding: 1rem 15%;
}
