@import '~styles/theme';

.modal {
  height: 100%;
  width: 100%;
}

.overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.container {
  display: grid;
  grid-template-rows: 82px auto;
  height: 100%;

  &--fullHeight {
    display: flex;
    align-items: center;
  }
}

.close {
  cursor: pointer;
  padding: 1rem;
}

.contentContainer {
  flex: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.headers {
  margin-bottom: 2rem;

  * {
    margin: 0;
    max-width: 600px;
  }
}
