@import '~styles/theme';

.item {
  border-left: 8px solid transparent;
  border-bottom: 1px solid $border;
  display: flex;
  padding: 1rem 1rem 0.9rem 0.7rem;
  text-decoration: none;
  transition: all 0.2s linear;

  &:hover {
    background-color: $veryLight;
    border-left-color: $veryLight;
  }

  &--active,
  &--active:hover {
    cursor: default;
    background-color: $veryLight;
    border-left-color: $primary;
  }
}

.name {
  color: $dark;
  font-size: 0.9rem;
  font-weight: bold;
}

$img-size: 28px;
.houseImg {
  height: $img-size;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  width: $img-size;
}
